

.article-list {
	/* background-color: #4CAF50; Green */
	border: none;
	color: #002222;
	width: 70%;
	padding: 1rem;
	margin: 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
}
